*.pyc
peer/tmp/*
*/*.pkl
peer/external/aylien.py
peer/external/aylien_secrets.py
peer/external/keys.py
peer/external/rosette_auth.py
peer/config.json
peer/external/rosette_cat_ex.py
peer/tr-functions/*
peer/txtrzr/*
