{% extends "bootstrap/base.html" %}

{% block title %}Academic Essay Analysis{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
    
    {{super()}}
    {{fixes.ie8()}}
{%- endblock %}



{% block navbar %}
{{nav.top.render()}}
{% endblock %}
{% block alerts %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}
