{% extends "base.html" %}





{% block content %}

  <div class="container">
    <div class="jumbotron">
      <h1>Extra Eyes</h1>
      <p>Upload an academic essay for analysis <small>(.doc, .docx, .txt, .odt, .pdf).</small></p>
      <p>
        <a class="btn btn-lg btn-primary" role="button"
           href="/upload" >Upload</a>
      </p>
    </div>
   </div>

  <div class="container">
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {% endif %}
  {% endwith %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        <h2>Lard Data</h2>
        <p>Data to support revision using Lanham's Paramedic Method. To learn more about Lanham and the Paramedic Revision Method, explore the links below:
        <ul><li><a href="https://people.umass.edu/curtis/academics/editingtoolbox/Lanham_LardFactor.pdf
        " target="_blank">Workshop</a></li>
        <li><a href="http://faculty.winthrop.edu/kosterj/WRIT465/slide%20shows/lardoutline_files/frame.htm" target="_blank">Presentation</a></li>
        <li><a href="http://people.vetmed.wsu.edu/jmgay/courses/documents/TheParamedicMethod.pdf
        " target="_blank">Workshop 2</a></li>
        <li><a href="https://www.amazon.com/Revising-Prose-5th-Richard-Lanham/dp/0321441699/ref=asap_bc?ie=UTF8" target="_blank">Lanham's <em>Revising Prose (5th Ed.)</em> on Amazon</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Text Statistics</h2>
        <p>Get vital statistics about your document to reveal patterns and practices, and use them to make well-deliberated revisions.</p>
    </div>
    <div class="col-md-4">
        <h2>Readability Scores</h2>
        <p>Readabily scores/indexes are usually used to help us write down for our audiences in an effort to reduce confusion. However, each index, looked at with the text statistics, can offer us powerful insights regarding writing; they may reveal breadth and depth of relevant content-area vocabulary, a strong ability to mix sentence types, or opportunities to improve sentence variety, for example.</p>
        <p>Note that SMOG Index results are not yet reliable.</p>
    </div>
    </div>
</div>
{% endblock %}
