{% extends "base.html" %}





{% block content %}

  <div class="container">
    <div class="jumbotron">
      <h1>Extra Eyes</h1>
      <p>Upload an essay for analysis <small>(.doc, .docx, .txt, .odt).</small></p>
      <p>
        <a class="btn btn-lg btn-primary" role="button"
           href="/upload" >Upload</a>
      </p>
    </div>
   </div>

  <div class="container">
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="row">
      <div class="col-md-12">
        
      </div>
    </div>
  {% endif %}
  {% endwith %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>On Writing</h2>
        <em><block>
                A certain change in the emphasis on having and being is apparent in
                the growing use of nouns and the decreasing use of verbs in Western languages
                in the past few centuries. A noun is the proper denotation for a thing.
                I can say that I have things: for instance that I have a table, a house, a book, a car.
            <br /><br />
                The proper denotation for an activity, a process, is a verb: for instance I am, I love,
                I desire, I hate, etc. Yet ever more frequently an activity is expressed in terms of having;
                that is, a noun is used instead of a verb. But to express an activity by to have in connection with a noun is an erroneous use of language,
                because processes and activities cannot be possessed; they can only be experienced.
           </block></em>
           <br />
           <p class=pull-right>--Erich Fromm</p>

         </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <h2>Lard Data</h2>
        <p>Data to support revision using Lanham's Paramedic Method. To learn more about Lanham and the Paramedic Revision Method, explore the links below:
        <ul><li><a href="https://people.umass.edu/curtis/academics/editingtoolbox/Lanham_LardFactor.pdf
        " target="_blank">Workshop</a></li>
        <li><a href="http://faculty.winthrop.edu/kosterj/WRIT465/slide%20shows/lardoutline_files/frame.htm" target="_blank">Presentation</a></li>
        <li><a href="http://people.vetmed.wsu.edu/jmgay/courses/documents/TheParamedicMethod.pdf
        " target="_blank">Workshop 2</a></li>
        <li><a href="https://www.amazon.com/Revising-Prose-5th-Richard-Lanham/dp/0321441699/ref=asap_bc?ie=UTF8" target="_blank">Lanham's <em>Revising Prose (5th Ed.)</em> on Amazon</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Text Statistics</h2>
        <p>Get vital statistics about your document to reveal patterns and practices, and use them to make well-deliberated revisions.</p>
    </div>
    <div class="col-md-4">
        <h2>Readability Scores</h2>
        <p>Readabily scores/indexes are usually used to help us write down for our audiences in an effort to reduce confusion. However, each index, looked at with the text statistics, can offer us powerful insights regarding writing; they may reveal breadth and depth of relevant content-area vocabulary, a strong ability to mix sentence types, or opportunities to improve sentence variety, for example.</p>
        <p>Note that SMOG Index results are not yet reliable.</p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Style Checks</h2>
            <p>The anaylsis of the submitted text includes style suggestions to be considered (or disregarded).</p>
        </div>

        <div class="col-md-4">
          <h2>Coming Soon!</h2>
          <p>Track student progress on final revisions over time</p>
        </div>
        <div class="col-md-4">
          <h2>Usage Notes</h2>
          <ul>
            <li>Try your upload again if it fails the first time, please. If it still fails, please try a different file or upload the same document in a different format.</li>
            <li>PDF support has been removed; at least, it appears to be removed. The software will still accept PDF uploads, but the results will probably be unreliable.</li>
          </ul>
    </div>
</div>
{% endblock %}
