{% extends "base.html" %}


{% block content %}
<div class="container">
<div class="jumbotron">
<h1>Paste plaintext prose: <small>Not functional yet</small></h1>

</div>
</div>
<div class="container">
<form id="textform" name="textform" method="post">
<div class="form-group">
    <label for="submission">Paste Prose (field is resizeable)</label>
    <textarea class="form-control" id="submission" name="submission" rows="10">riverrun through Eve and Adams...</textarea>
    <!--<input type="submit" value="Submit">-->
</div>
<button type="submit" value="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
