{% extends "base.html" %}


{% block content %}
<div class="container">
<div class="jumbotron">
<h1>Paste plaintext prose: <small>Still in Beta</small></h1>
<p>Nothing to paste? Try pasting an essay from <a href="http://www.collegeconfidential.com/admit/great-common-application-essays/" target="_blank">here.</a><p>

</div>
</div>
<div class="container">
<form id="textform" name="textform" method="post">
<div class="form-group">
    <label for="submission">Paste Prose (field is resizeable)</label>
    <textarea class="form-control" id="submission" name="submission" rows="10">Paste text here...</textarea>
    <!--<input type="submit" value="Submit">-->
</div>
<button type="submit" value="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
